@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');

@font-face {
    font-family: 'bluunext';
    src: url('../fonts/bluunext-bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: bold;
}